{% extends "blog/layout.html" %}
{% block title %} 相册
{% endblock %}
{% block container %}
<div id="container">
  <div class="album">
    <div class="display-box" id="display-box-l">
      <div id="large-pic"></div>
      <h2>血色黄栌</h2>
      <p id="l-pic-intro">通过图片处理网站将黄栌进行调色</p>
    </div>
    <div class="display-box" id="display-box-s">
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
      <div class="pic-txt">
        <div class="pic-box"></div>
        <p class="s-pic-intro">木</p>
        <p class="s-pic-time">2019/03/02</p>
        <p class="s-pic-intro">图片拍摄于北科</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
