<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>登录</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/css/common.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/css/log-sign.css' %}"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="main-form">
        <h2 class="blog-title">满井博客</h2>
        <form class="log-form">
          <div class="input-box">
            <input
              class="username"
              placeholder="请输入用户名或手机号"
              type="text"
            />
          </div>
          <div class="input-box">
            <input class="password" placeholder="请输入密码" type="password" />
          </div>
          <button class="btn"><a href="{% url 'index' %}">登录</a></button>
        </form>
        <div class="link-box">
          <p class="inline-link">
            <a class="link" href="{% url 'signup' %}">没有账户？</a>
          </p>
          <p class="inline-link"><a class="link" href="">忘记密码？</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
