{% extends "blog/layout.html" %} {% block title %} 思辨 {% endblock %} 
{% block container %}
<!-- thoughts -->
<div class="article-box" id="thoughts">
  <h1 class="article-title">通过爱好选专业，可能是当代最无耻的谎言</h1>
  <div class="article-sub">
    <span>原创：半佛仙人</span>
  </div>
  <div class="article-context">
    <p>
      高考结束了，不管考的是好是坏，都是一段旅程的结束。然而，从填报志愿开始，人生的新一段旅程开始了。
    </p>
    <p>
      近2个礼拜，微信后台以及知乎私信都有大量的人在问我与专业填报有关的问题，有人是自己咨询，有人是给家里的亲戚咨询。
      在这里面，我发现了一个很严重的问题。很多人似乎搞不清楚兴趣爱好与职业的区别，只是简单的觉得自己喜欢XXX，或者孩子有兴趣的专业，就可以了。
      完全没有考虑到大学4年后的人生。 这非常危险。
    </p>
    <p>
      虽然人生的选择很多，但能比专业选择更加影响人生轨迹的不多。
      千万不要因为所谓的兴趣和爱好，去做盲目的选择，毁掉自己的人生。
      这篇文章会讲很多难听的实话，我也不说什么为你们好这种沙雕鬼话，我觉得大家已经是成年人了，该对自己的人生负责了。
      有些世界的残酷真相需要提前告诉你们。
      这个世界从来不会因为你不知道就不会欺负你。
    </p>
    <span><img src="../../static/blog/image/tree-blue.jpg"/></span>
    <p>
      首先简单明了给想要选专业的读者们一些自己经验总结的简单建议。
      那么选专业怎么选？ 一定要百分百围绕就业这条路来选择！
    </p>
    <p>
      第一看家庭优势，要不顾一切围绕家庭核心竞争力做专业规划。
    </p>
    <p>
      就是家里能为孩子提供什么特色的资源，让孩子围绕这一部分来进行选择。
      记住这里的资源一定是可以完全掌控的资源，例如家里在某个大公司有关键性岗位，那么孩子学习相关专业，直接进去，可以快速成长。
      不要觉得不好意思或者无耻，有资源不用才叫浪费，社会竞争只看结果。
      每一个家庭都是社会竞争中的一个主体，要做的是团结在一起调动一切资源来进行人生马拉松的赛跑，玩个接力又怎么了？
      这就是和我当年觉得父母出首付买房是天经地义的事情一样，因为买房本质上不是消费，而是资产保值和增值。
      如果没有所谓的家庭优势，怎么办呢？
    </p>
    <p>
      第二看城市，家住偏远优先选大城市，家住一二线城市则围绕地域资源核心进行优选。
    </p>
    <p>
      城市决定了孩子将来一毕业时候的关系圈和人脉圈，这是一个大学生刚毕业时候的起步资源，一旦换城市就业，会非常浪费大学时候积累的资源。
      如果家里地方过于落后，孩子毕业之后回来也没什么能干的，那么就选择一线城市或者二线强城市（南京杭州成都武汉），就留在这些城市打拼，拼个十几年，能留下最好。
      如果最后还是留不下，还有老家省会可以考虑。
    </p>
    <p>
      如果家里城市本身就不错，那么建议在本地上大学，这样一切资源都可以最大化利用，而且其实孩子在外打拼父母在老家，当父母老了之后是非常反人性的一件事情，这笔账根本算不过来。
      很多人所谓的中年危机，就是年轻的时候算不过来账的事情做太多了，以为自己能一直牛逼下去，结果到了中年一起爆发。
      一定要在还没有出现危机的时候未雨绸缪，真正的聪明人是让坏事不要发生，而不是发生了之后怎么办，很多事情到了最后都是无解的，没得商量。
      当然我这说的是普通人，家里有矿的自然是天涯若比邻。
    </p>
    <p>
      第三才看学校or专业，冲着容易就业的学校和更有背书的第一学历去冲锋。
      学校分热门学校和冷门学校。 专业分强势专业和冷门专业。
      所以组合出来就是4种。
    </p>
    <p>
      最好的情况下当然是热门学校的强势专业，但这个比较吃分数，有这个分数的人也不用担心。
      最坏的也不用过多分析，分数就那么点儿，要么复读（如果还有心气的话），要么考虑走家里的路线。
      一般大家纠结的就是中间两种，好学校和好专业怎么平衡。
    </p>
    <p>
      如果打心眼决定考验读研，那么好学校要更重要，因为很多单位看研究生的时候，都看第一学历的。
      如果还没想好读研还是就业，那么好就业的专业就更重要，北京邮电的计算机和清华的历史学，显然前者更好就业。
      并且需要家里提前做功课，有一些学校的特色专业非常适合就业。
      例如你想在杭州做码农，杭州电子科技大的计算机就要比浙江工商大学吃香；
      这种地域性的认可非常重要。
    </p>
    <p>
      学校和专业，决定了你人生的起点，这一步，就是人生的不同。
    </p>
  </div>
</div>
<!-- 留言部分 -->
<div class="comment-box">
  <div class="comment-text">
    <form>
      <textarea placeholder="请在此评论"></textarea>
      <button>提交</button>
    </form>
  </div>
  <div class="comment-display">
    <div class="comment-display-unit">
      <div class="display-unit">
        <a class="comment-header"></a>
        <div class="text-unit">
          <p class="c-name">李小花</p>
          <p class="c-text">啊文章写得太好了</p>
        </div>
      </div>
      <a class="like" href="http://www.bilibili.com" target="_blank"></a>
    </div>
    <div class="comment-display-unit">
      <div class="display-unit">
        <a class="comment-header"></a>
        <div class="text-unit">
          <p class="c-name">王建国</p>
          <p class="c-text">要是我当时知道这些就好了</p>
        </div>
      </div>
      <a class="like" href="http://www.bilibili.com" target="_blank"></a>
    </div>
    <div class="comment-display-unit">
      <div class="display-unit">
        <a class="comment-header"></a>
        <div class="text-unit">
          <p class="c-name">张共和</p>
          <p class="c-text">转给我孩子看看</p>
        </div>
      </div>
      <a class="like" href="http://www.bilibili.com" target="_blank"></a>
    </div>
    <div class="comment-display-unit">
      <div class="display-unit">
        <a class="comment-header"></a>
        <div class="text-unit">
          <p class="c-name">范爱民</p>
          <p class="c-text">说得太功利了吧</p>
        </div>
      </div>
      <a class="like" href="http://www.bilibili.com" target="_blank"></a>
    </div>
    <div class="comment-display-unit">
      <div class="display-unit">
        <a class="comment-header"></a>
        <div class="text-unit">
          <p class="c-name">孙爱党</p>
          <p class="c-text">转给我孙子看看，很有趣</p>
        </div>
      </div>
      <a class="like" href="http://www.bilibili.com" target="_blank"></a>
    </div>
  </div>
</div>
{% endblock %}
